<%= include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/menu.css" />

<body>
    <div id="main_container">
        <div class="group_name">
            <ul class="nav justify-content-center">
                <li class="nav-item" style="cursor: pointer">
                  <a class="nav-link active" href="/resto">Home</a>
                </li>
                <li class="nav-item" style="cursor: pointer">
                  <a class="nav-link" href="/resto/all-restaurant">AllResto</a>
                </li>
                <li class="nav-item" style="cursor: pointer">
                  <a class="nav-link" href="/resto/logout">Logout</a>
                </li>
             <ul>
        </div>

        <div class="restaurant_menu_frame">
      <div class="restaurant_container">
        <div class="dishs_table">
            <span class="new_dish_txt">
                Barcha Oshxonalar Ruyxati
            </span>
      </div>
     </div>
    </div>
</body>

<%= include('includes/header') %>